$theme-white: #f4f6fa;
$theme-primary: #9556ff;
$theme-primary-light: #b080ff;
$theme-dark: #160d27;
$theme-gray: #b5b6c4;

$font-primary: "Rubik", "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
$font-secondary: "Inter", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
$font-body: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
